.profile__edit-button {
    background: #000000;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 77px;
    margin-left: 18px;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 879px) {
    .profile__edit-button {
        margin: 8px auto auto 10px;
        width: 18px;
        height: 18px;
    }
}