.like {
    width: 22px;
    height: 19px;
    margin: 22px 20px 0px 0;
    background-image: url(../../images/Vector2.svg);
    background-repeat: no-repeat;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}
.like:hover {
    opacity: .5;
}

