.header {
    width: 880px;
    border: 1px solid rgba(84, 84, 84, 0.7);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0px auto;
    padding-top: 45px;
    
    
}

@media screen and (max-width:879px) {
    .header {
        padding-top: 28px;
        width: 581px;
    }
}

@media screen and (max-width:581px) {
    .header {
        width: 100%;
    }
}