.header {
    width: 880px;
    border:1px solid #545454;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0px auto;
    padding-top: 45px;
    height: 74px;
}
@media screen and (max-width:879px) {
    .header {
        height: 56px;
        padding-top: 28px;
        width: 581px;
}
@media screen and (max-width:581px) {
    .header {
        width: 100%;
}