.like_disabled {
    width: 22px;
    margin: 30px 20px 30px 0;
    background-image: url(../../images/Vector2.svg);
    background-repeat: no-repeat;
    border: 0;
    background-color: #fff;
}
.like_disabled:hover {
    opacity: .5;
}
