.footer {
    width: 880px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 67px auto 0 auto;
    padding-bottom: 60px;
    color: #545454;
}

@media screen and (max-width:879px) {
    .footer {
        width: 581px;
    }

    @media screen and (max-width:581px) {
        .footer {
            font-size: 14px;
            line-height: 17px;
            width: 282px;
            padding-bottom: 36px;
        }